
## <summary>policy for bullshitbucks</summary>


########################################
## <summary>
##	Transition to bullshitbucks.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bullshitbucks_domtrans',`
	gen_require(`
		type bullshitbucks_t, bullshitbucks_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bullshitbucks_exec_t, bullshitbucks_t)
')


########################################
## <summary>
##	Execute bullshitbucks server in the bullshitbucks domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bullshitbucks_initrc_domtrans',`
	gen_require(`
		type bullshitbucks_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bullshitbucks_initrc_exec_t)
')


########################################
## <summary>
##	Search bullshitbucks lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bullshitbucks_search_lib',`
	gen_require(`
		type bullshitbucks_var_lib_t;
	')

	allow $1 bullshitbucks_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bullshitbucks lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bullshitbucks_read_lib_files',`
	gen_require(`
		type bullshitbucks_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bullshitbucks_var_lib_t, bullshitbucks_var_lib_t)
')

########################################
## <summary>
##	Manage bullshitbucks lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bullshitbucks_manage_lib_files',`
	gen_require(`
		type bullshitbucks_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bullshitbucks_var_lib_t, bullshitbucks_var_lib_t)
')

########################################
## <summary>
##	Manage bullshitbucks lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bullshitbucks_manage_lib_dirs',`
	gen_require(`
		type bullshitbucks_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bullshitbucks_var_lib_t, bullshitbucks_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bullshitbucks environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bullshitbucks_admin',`
	gen_require(`
		type bullshitbucks_t;
		type bullshitbucks_initrc_exec_t;
		type bullshitbucks_var_lib_t;
	')

	allow $1 bullshitbucks_t:process { ptrace signal_perms };
	ps_process_pattern($1, bullshitbucks_t)

	bullshitbucks_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bullshitbucks_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bullshitbucks_var_lib_t)

')

